{% load static %}
<div class="card card-nav-tabs fixed-top card-plain">
	<div class="card-header card-header-success">
		<div class="nav-tabs-navigation">
			<div class="nav-tabs-wrapper">
				<ul class="nav" data-tabs="tabs">
					<img class="img nav_logo" src="{% static 'img/home/homeweb.png' %}" />
					<li class="nav-item"> <a class="nav-link my_font" href="/">Home</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle my_font"  href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Web App
                        </a>

						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item " href="/weblocate">Web Locate</a>
							<a class="dropdown-item" href="/similar">Similar Movie</a>
						</div>
					</li>
					<li class="nav-item"> <a class="nav-link my_font" href="#user">About</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<br>
<br>
<br>
<br>