{% load static %}
<div id='user'>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="row justify-content-center">
		<div class="col-md-8">
			<div class="card card-profile">
				<div class="card-avatar">
					<a href="#prince">
						<img class="img" src="{% static 'img/prince.jpg' %}" />
					</a>
				</div>
				<div class="card-body alert-link">
					<h6 class="card-category">Web Developer</h6>
					<h4 class="card-title">Mazhar Hossain</h4>
					<p class="card-description">Passionate about what I do...
						<br>And Most importantly I enjoy what I do...</p> <a href="https://mazhardev.000webhostapp.com/" target="blank" class="btn btn-success btn-round">Profile</a>
				</div>
			</div>
		</div>
	</div>
</div>